<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
    <script src="/socket.io/socket.io.js"></script>
    <script>
    var socket = io();
    </script>
</header>

<main>
    <div class="jumbotron">
        <h1>Connecting...</h1>
        <p>Trying to make a connection with the server.</p>
    </div>
</main>


</body>
</html>